#While Loops

## While Syntax
* while condition:
  * statement

# Print num from 1 to n

In [5]:
n=int(input(" "))
i=1
while i<=n:
    print(i)
    i=i+1

 5
1
2
3
4
5

# Find out the sum of the digits

In [4]:
n=123
sum=0
while n!=0:
   r=n%10
   sum=sum+r
   n=n//10
print(sum)

6

# Print the digits of the input

In [13]:
n=int(input(" "))
while n!=0:
  r=n%10
  print(r)
  n=n//10

 123
3
2
1

#For Loop

##Syntax:
 * for varaiable_name in iterable_obj:
  * statements
 * for varaiable_name is range(start,stop,step):
  * staements

# Print N numbers using for loop

In [19]:
for i in range(1,10):
  print(i)

1
2
3
4
5
6
7
8
9

In [20]:
for i in range(1,10+1):
  print(i)

1
2
3
4
5
6
7
8
9
10

In [21]:
for i in range(1,10+1,2):
  print(i)

1
3
5
7
9

In [24]:
for i in "python":
  print(i)

p
y
t
h
o
n

#when we do not know the exact num of iterations we use while loop
# when we know thw exact num of iterations we use for loop

# Functions

## Advantages
 * Debugging
 * Resusability
 * Effeciency of program
 * Length of program will be divided into sub divisions

## Two types of functions:
 * Built-in functions
 * User defines functions

### Function:It self contained block  of statements to perform a task
### syntax
 * def function_name(parameters):
  * statements
  * Return(It can return multile values not mandatory)

# Addition of two numbers using functions

In [28]:
def addition(a,b):
  c = a+b
  print(c)
addition(1,2)

3

# Read a number N and find out sum of all even digits

In [38]:
def extracting(n):
  sum=0
  while n!=0:
    r=n%10
    if r%2==0:
        sum=sum+r
    n=n//10
  return(sum)
extracting(2234)

8

## Return will store the value to the memory
## Print will just print the output to the console

# Read a number and print the largest digit

In [48]:
def largestnum(n):
  large=0
  while n!=0:
    r=n%10
    if large<r:
      large=r
    n=(n//10)
  return(large)
largestnum(521893)

9

# Read a number as input
# Output:palindrime or not

In [60]:
def palindrome(n):
  rev=0
  b=n
  while n!=0:
    r=n%10
    rev=rev*10+r
    n=n//10
  if rev==b:
      print("palindrome")
palindrome(121)

palindrome